.card {
  display: flex;
  margin-bottom: 15px;
  min-height: 700px;
  justify-content: center; }
  .card img {
    max-height: 20rem; }

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.container {
  margin-top: 10vh; }

